body{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.header{
  margin-top: 0;
  /* background-color: blue; */
}

.card{
  margin-bottom: 20px;
  border-radius: 20px;
}

h4, li{
  text-align: left;
}